  h2 {
    color: #878787;
    text-align: right;
    font-family: Helvetica;
    }

  p {
    color: #878787;
    text-align: right;
    font-family: Helvetica;
    }

  .p1 {
    color: #000000;
    text-align: right;
    font-family: Times New Roman;
    }

  .p2 {
    color: #5aaccf;
    text-align: right;
    font-family: Papyrus;
    }

  .p3 {
    color: #71c13f;
    text-align: right;
    font-family: Comic Sans MS;
    }

  footer {
    color: #878787;
    text-align: right;
    font-family: Helvetica;
  }
