/*  =============================================
    DEBUGGING ASSIGNMENT STYLES 
    =============================================*/  

    html {
        color: lightblue;
        font-size: 62.5%;
        -webkit-tap-highligh-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    
    body {
        color: lightblue;
        background-color: darkblue;
    }

    .border { 
        border-color: red;
        border-style: dotted;
    }