/* Nav bar */
.navbar {
    overflow: hidden;
    background-color: rgb(136, 142, 178, 0.1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content
  .main {
    margin-top: 30px; Add a top margin to avoid content overlay
    color: rgb(136, 142, 178, 0.1);
  } */

.container {
    margin-top: 60px;
}


img {
    filter: grayscale(100%);
    width: 100%;
    height: auto;
    border: 3px solid black;
    /* border-radius: 100px; */
}

.text-image {
    /* margin-top: 0px; */
    position: relative;
    text-align: center;
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
  
.top-left {
    position: absolute;
    top: 72px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 72px;
    right: 8px;
}

.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 8px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    column-gap: 80px;
}

.div-1 {
    text-align: center;
    /* color: blue; */
    /* background-color: grey; */
}

.div-2 {
    text-align: center;
    /* color:red; */
    /* background-color: grey; */
}

/* Regular even columns */
.row {
    /* margin-left: 40px;
    margin-right: 40px; */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
    /* padding: 2px; */
}

/* Flexbox columns */

/* .row {
    display: flex;
}
  
.column {
    flex: 50%;
} */


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

p:hover {
    color: grey;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* background-color: grey; */
    font-weight: 900;
    font-size: auto;
    text-align: center;
    border: 1px solid black;
    /* padding: 15px */
}

td {
    padding: 15px 5%;
    border: 1px solid black;
    border-collapse: collapse;
}

/* tr:nth-child(2n+1) {
    width: 100%;
    background-color: rgb(136, 142, 178, 0.1)
}

th:nth-child(odd), td:nth-child(odd) {
    background-color: rgb(136, 142, 178, 0.1)
}  */

/* .tr:first-child{
    background: grey
} */

th {
    padding: 15px 5%;
    background-color: grey;
    border: 1px solid black;
    background: grey
}

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: grey;
    font-weight: 900;
    text-align: center
}

/* .squares {
    text-align: center;
    color: blue;
    background-color: grey;
} */