/*  =============================================
    ONE PAGE WEBSITE STYLES
    =============================================*/  

    html {
        font-family: "Futura", sans-serif;
        font-size: 62.5%;
        -webkit-tap-highligh-color: rgba(0, 0, 0, 0);
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    
    body {
        font-size: 15px;
        margin: 0;
        font-family: "Futura", Helvetica, Arial, sans-serif;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

    .vote form {
        font-size: 18px;
        outline: none;
        font-weight: 600;
        /* color: #8D8E8F; */
        color: #0f2e54;
        padding: 12px 12px;
        width: 50%;
        border: 1px solid #808080;
        margin: 2% auto;
        border-radius: 20px;
        background: rgba(255,138,27,255);
        /*background: rgba(246,96,96,255);*/
    
        box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
        font-family: 'Futura', sans-serif;
    }
    
    .vote input[type="text"] {
        font-size: 18px;
        outline: none;
        font-weight: 600;
        color: #000;
        padding: 2% 2% 2% 2%;
        width: 90%;
        border-top: 2px solid #000;
        border-right: 2px solid #424549;
        border-bottom: 2px solid #424549;
        border-left: 2px solid #000;
        margin: 20px 1em;
        border-radius: 25px;
        background: #ffe067;
        box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0);
        font-family: 'Futura', sans-serif;
    }